@import "./utilities.module.scss";

.bg {
  &_off_white {
    background-color: $bg-off-white;
  }

  &_primary {
    background-color: $header-colour;
  }

  &_dark {
    background-color: $bg-dark;
  }

  &_grey {
    background-color: $bg-grey;
  }

  &_light_grey {
    background-color: $bg-light-grey;
  }
}
