@import "./properties.module.scss";

@mixin configureButton($text-colour, $btn-colour) {
  text-align: center;
  text-decoration: none;
  font-weight: 600;

  color: $text-colour;
  background-color: $btn-colour;

  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  display: inline-block;

  //
  // width: 100%;
  overflow: hidden;
  // white-space: nowrap;
  // display: block;
}

.btn {
  &.btn_primary {
    @include configureButton($text-white, $btn-primary);
    &:hover {
      background: darken($btn-primary, 10%);
    }
  }

  &.btn_secondary {
    @include configureButton($text-white, $btn-secondary);
    &:hover {
      background: darken($btn-secondary, 10%);
    }
  }

  &.btn_success {
    @include configureButton($text-white, $btn-success);
    &:hover {
      background: darken($btn-success, 10%);
    }
  }

  &.btn_danger {
    @include configureButton($text-white, $btn-danger);
    &:hover {
      background: darken($btn-danger, 10%);
    }
  }

  &.btn_warning {
    @include configureButton($text-black, $btn-warning);
    &:hover {
      background: darken($btn-warning, 10%);
    }
  }

  &.btn_info {
    @include configureButton($text-white, $btn-info);
    &:hover {
      background: darken($btn-info, 10%);
    }
  }

  &.btn_light {
    @include configureButton($text-black, $btn-light);
    &:hover {
      background: darken($btn-light, 10%);
    }
  }

  &.btn_dark {
    @include configureButton($text-white, $btn-dark);
    &:hover {
      background: lighten($btn-dark, 10%);
    }
  }

  &.button_full {
    display: block;
  }

  $sizes: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
  $per: "%";
  @each $size in $sizes {
    &.button_width_#{$size}pc {
      width: $size#{$per};
    }
  }

  &.button_center {
    display: block;
    margin: auto;
  }
}
