$max-width: 769px;

.container {
  $sizes: 350px, 512px, 1024px, 1280px, 1366px, 1440px, 1536px, 1600px,
    1920px 100;
  @each $size in $sizes {
    @if $size == "100" {
      $size: $size#{$per};
    }
    &_max_width_#{$size} {
      display: grid;
      max-width: $size;
      margin: auto;
    }
  }
}

.row {
  display: grid;
  // grid-template-columns: repeat(12, minmax(50px, 1fr));
  grid-template-columns: repeat(12, 1fr);
  $sizes: 10px, 15px, 20px, 25px, 30px 50px;
  @each $size in $sizes {
    &.grid_gap_#{$size} {
      grid-gap: $size;
    }
  }
}

.container_row_height {
  $sizes: 250px, 200px, 150px, 100px, 80px, 70px, 60px, 50px;
  @each $size in $sizes {
    &_#{$size} {
      height: $size;
    }
  }
}

.row_auto_adjust {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.col_12 {
  grid-column: span 12;
}

.col_8 {
  grid-column: span 8;
}

.col_6 {
  grid-column: span 6;
}

.col_4 {
  grid-column: span 4;
}

.col_3 {
  grid-column: span 3;
}

.col_2 {
  grid-column: span 2;
}

.col_1 {
  grid-column: span 1;
}

@media only screen and (max-width: 700px) {
  .container {
    $sizes: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
    $per: "%";
    @each $size in $sizes {
      &.container_max_width_#{$size} {
        max-width: 90%;
      }
    }
  }

  .container_max_height {
    height: 100vh;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(1, minmax(40px, 1fr));
  }

  // .row_auto_adjust {
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   background-color: rgb(213, 211, 211);
  // }

  // .col_8 {
  //   grid-column: span 4;
  // }
  // .col_6 {
  //   grid-column: span 4;
  // }

  // .col_4 {
  //   grid-column: span 4;
  // }

  // .col_3 {
  //   grid-column: span 4;
  // }

  // .col_2 {
  //   grid-column: span 2;
  // }

  // .col_1 {
  //   grid-column: span 2;
  // }

  .col_12,
  .col_8,
  .col_6,
  .col_4,
  .col_3,
  .col_2,
  .col_1 {
    grid-column: 1;
  }
}
