$header-colour: #a7c8f2;
$footer-colour: #a7c8f2;

$btn-primary: #2099c9;
$btn-secondary: #a6a4a6;
$btn-success: #45bf55;
$btn-danger: #c90610;
$btn-warning: #f2cb05;
$btn-info: #286e80;
$btn-light: #f0f1f2;
$btn-dark: #212226;
$btn-link: #286e80;

$text-white: #f0f1f2;
$text-black: #212226;
