@import "./properties.module.scss";

//----PADDING----//
$sizes: 1px, 2px, 5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 45px, 50px;

@each $size in $sizes {
  .padding_y_#{$size} {
    padding: $size 0px;
  }
}

@each $size in $sizes {
  .padding_top_#{$size} {
    padding-top: $size;
  }
}

@each $size in $sizes {
  .padding_bottom_#{$size} {
    padding-bottom: $size;
  }
}

@each $size in $sizes {
  .padding_x_#{$size} {
    padding: 0px $size;
  }
}

@each $size in $sizes {
  .padding_right_#{$size} {
    padding-right: $size;
  }
}

@each $size in $sizes {
  .padding_left_#{$size} {
    padding-left: $size;
  }
}

@each $size in $sizes {
  .padding_all_#{$size} {
    padding: $size $size;
  }
}

// ----MARGIN----//
$sizes: 1px, 2px, 5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 45px, 50px;

@each $size in $sizes {
  .margin_y_#{$size} {
    margin: $size 0px;
  }
}

@each $size in $sizes {
  .margin_top_#{$size} {
    margin-top: $size;
  }
}

@each $size in $sizes {
  .margin_bottom_#{$size} {
    margin-bottom: $size;
  }
}

@each $size in $sizes {
  .margin_x_#{$size} {
    margin: 0px $size;
  }
}

@each $size in $sizes {
  .margin_right_#{$size} {
    margin-right: $size;
  }
}

@each $size in $sizes {
  .margin_left_#{$size} {
    margin-left: $size;
  }
}

@each $size in $sizes {
  .margin_all_#{$size} {
    margin: $size $size;
  }
}

// ----BORDER----//
// ----SIZES----//
$sizes: 1px, 2px, 3px, 4px, 5px, 6px, 7px, 8px, 9px, 10px, 15px, 20px;
@each $size in $sizes {
  .border_thin_radius_#{$size} {
    border-style: solid;
    border-width: thin;
    border-radius: $size;
    border-color: transparent;
  }
}

$sizes: 1px, 2px, 3px, 4px, 5px, 6px, 7px, 8px, 9px, 10px, 15px, 20px;
@each $size in $sizes {
  .border_medium_radius_#{$size} {
    border-style: solid;
    border-width: medium;
    border-radius: $size;
    border-color: transparent;
  }
}

$sizes: 1px, 2px, 3px, 4px, 5px, 6px, 7px, 8px, 9px, 10px, 15px, 20px;
@each $size in $sizes {
  .border_thick_radius_#{$size} {
    border-style: solid;
    border-width: thick;
    border-radius: $size;
    border-color: transparent;
  }
}
//----COLOURS----//
$colors: red, orange, yellow, green, blue, indigo, violet, black, grey, white;
@each $color in $colors {
  .border_color_#{$color} {
    @if $color == "black" {
      $color: $border-black;
    }
    @if $color == "grey" {
      $color: $border-grey;
    }
    @if $color == "white" {
      $color: $border-white;
    }

    border-color: $color;
  }
}

@each $size in $sizes {
  .border_thick_radius_#{$size} {
    border-style: solid;
    border-width: thick;
    border-radius: $size;
    border-color: transparent;
  }
}

@each $size in $sizes {
  .border_bottom_#{$size} {
    border-bottom: $size solid $border-grey;
  }
}

//----SHADOW----//

$sizes: 1px, 2px, 3px, 4px, 5px, 6px, 7px, 8px, 9px, 10px, 15px, 20px;
@each $size in $sizes {
  .box_shadow_#{$size} {
    box-shadow: $size $size 15px -4px $box-shadow-grey;
  }
}

$sizes: 1px, 2px, 3px, 4px, 5px, 6px, 7px, 8px, 9px, 10px, 15px, 20px;
@each $size in $sizes {
  .box_shadow_top_bottom_#{$size} {
    box-shadow: 0px $size 15px -4px $box-shadow-grey;
  }
}

// $colours: $header-colour, $footer-colour, $test_colour;

// @each $colour in $colours {
//   .border_thin_#{$colour} {
//     border-radius: 8px;
//     border-style: solid;
//     border-width: thin;
//   }
// }

// ----TEXT ALIGN----//
.center_align {
  text-align: center;
}

.right_align {
  text-align: right;
}

.left_align {
  text-align: left;
}

.justified {
  text-align: justify;
}

// ----IMAGE----//
$sizes: 128px, 256px, 512px, 1024px;

@each $size in $sizes {
  .img_#{$size} {
    width: $size;
    height: auto;
    margin: auto;
  }
}

.img_full {
  width: 100%;
  height: auto;
}

$sizes: 128px, 256px, 512px, 1024px;
@each $size in $sizes {
  .img_restrict_height_#{$size} {
    height: $size;
  }
}

$sizes: 1px, 2px, 3px, 4px, 5px, 6px, 7px, 8px, 9px, 10px, 15px, 20px;
@each $size in $sizes {
  .img_radius_#{$size} {
    border-radius: $size;
  }
}

//----BACKGROUN----//
body {
  background-color: $bg-off-white;
}
