@import '../../CssFramework/main.module.scss';

.navbar_container {
  display: grid;
  $sizes: 512px, 1024px, 1280px, 1366px, 1440px, 1536px, 1600px, 1920px 100;
  @each $size in $sizes {
    @if $size == '100' {
      $size: $size#{$per};
    }
    &_max_width_#{$size} {
      display: grid;
      max-width: $size;
      margin: auto;
    }
  }
}

.navbar_row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  $sizes: 10px, 15px, 20px, 25px, 30px 50px;
  @each $size in $sizes {
    &.grid_gap_#{$size} {
      grid-gap: $size;
    }
  }
}

.navbar_mobile_container {
  display: none;
}

.navbar_menu_btn {
  display: none;
}

@media only screen and (max-width: 700px) {
  .hide_desktop_navbar_container {
    display: none;
  }

  .navbar_mobile_container {
    display: grid;
    width: 0px;
    overflow: hidden;

    opacity: 0.99;
    background-color: $bg-grey;

    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;

    transition: 0.5s;
  }

  .navbar_mobile_row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    $sizes: 10px, 15px, 20px, 25px, 30px 50px;
    @each $size in $sizes {
      &_grid_gap_#{$size} {
        grid-gap: $size;
      }
    }
  }

  .navbar_mobile_col_1 {
    grid-column: span 1;
  }

  .navbar_img {
    display: initial;
    position: absolute;
    top: 0;
    right: 10px;
  }

  .navbar_menu_btn {
    display: block;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    // height: 100%;

    margin-top: 50px;
  }

  a {
    display: block;
  }

  .mobile_margin_bottom {
    margin-bottom: 85px;
  }

  .navbar_height {
    height: 100px;
  }
}

// @media only screen and (max-width: 500px) {
//   .navbar {
//     display: none;
//     grid-gap: 0;
//     grid-template-columns: 1fr;
//   }

//   .navbarNav {
//     display: none;
//     grid-column-start: 1;
//     grid-column-end: 1;
//   }

//   .navbarNav ul {
//     display: none;
//     grid-template-columns: 1fr;
//   }

//   .sideNav {
//     display: grid;

//     height: 100%;
//     width: 200px;
//     z-index: 1;
//     position: fixed;

//     background-color: #111;
//     opacity: 0.9;

//     overflow-x: hidden;
//     padding-top: 60px;
//     top: 0;
//     left: 0;

//     transition: 0.5s;
//   }

//   .sideNavNav {
//     display: grid;

//     list-style: none;
//     overflow: hidden;

//     padding: 0px 0px 200px 50px;

//     a {
//       display: block;

//       font-size: 22px;
//       text-decoration: none;
//       color: #ccc;

//       padding: 10px 0px 10px 0px;
//     }

//     a:hover {
//       background-color: purple;
//       transition: 5s;
//     }
//   }

//   .btnClose {
//     display: initial;
//     position: absolute;
//     top: 0;
//     right: 10px;
//   }
// }
