@import "../../../CssFramework/main.module.scss";

.footer_container {
  display: grid;
  $sizes: 512px, 1024px, 1280px, 1366px, 1440px, 1536px, 1600px, 1920px 100;
  @each $size in $sizes {
    @if $size == "100" {
      $size: $size#{$per};
    }
    &_max_width_#{$size} {
      display: grid;
      max-width: $size;
      margin: auto;
    }
  }
}

.footer_row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  $sizes: 10px, 15px, 20px, 25px, 30px 50px;
  @each $size in $sizes {
    &.grid_gap_#{$size} {
      grid-gap: $size;
    }
  }
}

.navbar_mobile_container {
  display: none;
}

.navbar_menu_btn {
  display: none;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 40px;
  margin-top: 20px;
}

a {
  display: block;
  color: $btn-light;
}

@media only screen and (max-width: 700px) {
  .mobile_footer_height_increase {
    height: 100%;
  }

  .hide_desktop_navbar_container {
    display: none;
  }

  .navbar_mobile_container {
    display: grid;
    width: 0px;
    overflow: hidden;

    opacity: 0.99;
    background-color: $bg-grey;

    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;

    transition: 0.5s;
  }

  .navbar_mobile_row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    $sizes: 10px, 15px, 20px, 25px, 30px 50px;
    @each $size in $sizes {
      &_grid_gap_#{$size} {
        grid-gap: $size;
      }
    }
  }

  .navbar_mobile_col_1 {
    grid-column: span 1;
  }

  .navbar_img {
    display: initial;
    position: absolute;
    top: 0;
    right: 10px;
  }

  .navbar_menu_btn {
    display: block;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    // height: 100%;

    margin-top: 50px;
  }

  a {
    display: block;
  }
}
