@import '../../../CssFramework/main.module.scss';

.container {
  display: grid;
  max-width: 100%;
  margin: auto;
}

.container_max_width_100 {
  max-width: 100%;
}

.container_max_width_1280px {
  display: grid;
  max-width: 1280px;
  margin: auto;
}

.container_col_8 {
  display: grid;
  max-width: 100%;
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.row_columns_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.col_12 {
  grid-column: span 12;
}

.col_10 {
  grid-column: span 10;
}

.col_8 {
  grid-column: span 8;
}

.col_6 {
  grid-column: span 6;
}

.col_4 {
  grid-column: span 4;
}

.col_3 {
  grid-column: span 3;
}

.col_2 {
  grid-column: span 2;
}

.col_1 {
  grid-column: span 1;
}

.login_img_full {
  width: 100%;
  height: 100%;
}

.login_container {
  $sizes: 512px, 1024px, 1280px, 1366px, 1440px, 1536px, 1600px, 1920px, 100;

  @each $size in $sizes {
    &_max_width_#{$size} {
      @if $size == 100 {
        $size: $size#{$per};
      }

      display: grid;
      max-width: $size;
      margin: auto;
    }
  }
}

.login_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  $sizes: 10px, 15px, 20px, 25px, 30px 50px;
  @each $size in $sizes {
    &.grid_gap_#{$size} {
      grid-gap: $size;
    }
  }
}

.login_col_12 {
  grid-column: span 12;
}

.form_grid {
  display: grid;
}

.login_padding_all_50px {
  padding: 50px;
}

.login_margin_all_50px {
  margin: 50px;
}

.remove_desktop {
  display: none;
}

.login_border_control {
  @each $radii in $radius-border {
    &_left_#{$radii} {
      border-style: solid;
      border-width: thin;
      border-color: transparent;

      border-bottom-left-radius: $radii;
      border-top-left-radius: $radii;
    }

    &_right_#{$radii} {
      border-style: solid;
      border-width: thin;
      border-color: transparent;

      border-bottom-right-radius: $radii;
      border-top-right-radius: $radii;
    }
  }
}

.login_img_center {
  background-color: red;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media only screen and (max-width: 700px) {
  .login_padding_all_50px {
    padding: 10px;
  }

  .login_margin_all_50px {
    margin: 10px;
  }

  .remove_mobile {
    display: none;
  }

  .login_border_control {
    @each $radii in $radius-border {
      &_left_#{$radii} {
        border-style: solid;
        border-width: thin;
        border-color: transparent;

        border-radius: $radii;
      }

      &_right_#{$radii} {
        border-style: solid;
        border-width: thin;
        border-color: transparent;

        border-radius: $radii;
      }
    }
  }

  .container_col_8 {
    display: grid;
    max-width: 100%;
    margin: auto;
  }

  .row_columns_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container {
    max-width: 90%;
  }
  .container_max_height {
    height: 100vh;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(1, minmax(40px, 1fr));
    //   grid-template-columns: 1fr;
  }

  .col_1 {
    grid-column: span 1;
  }

  // .col_12,
  // .col_10,
  // .col_6,
  // .col_4,
  // .col_3,
  // .col_2,
  // .col_1 {
  //   grid-column: 1;
  // }
}
